.createForm {
    padding: 1rem;
    width: 70%;
    margin: auto;
    height: auto;
    -webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
}

input[type=text] {
    border: 1px solid #adadad;
    margin: 0.25rem;
    text-align: center;
    padding: 0.25rem;
}

.addProcess {
    border: 1px solid #adadad;
    width: 30%;
    padding: 0.25rem;
    margin: 2rem auto;
}

.addProcess:hover {
    border: 1px solid #4880ff;
}

.createNetworkPlan {
    padding: 0.25rem;
}