.HeaderMenu {
    width: 100%;
    height: 3rem;
    background-color: #aeb2b6;
    display: flex;
    -webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
}

.HeaderTitle {
    line-height: 3rem;
    text-align: left;
    width: 30%;
    font-size: 1.5rem;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-left: 1rem;
}

.HeaderPlaceholder {
    width: 40%;
}

.HeaderButtons {
    line-height: 3rem;
    width: 30%;
    display: flex;
    justify-content: right;
    padding-right: 1rem;
}

.createNewPlan {
    margin-right: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
}

.createNewPlan:hover {
    background-color: #c3c7cb;
}

.editPlan {
    margin-right: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.2rem;
}

.editPlan:hover {
    background-color: #c3c7cb;
}