.singleColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.process {
    display: flex;
    width: 80%;
    margin: 1rem;
}

.critical {
    border: 1px solid red;
}

.firstColumn {
    width: 50%;
}

.secondColumn {
    width: 50%;
}

.faz {
    text-align: left;
}

.id {
    border: 1px solid black;
}

.executionTime {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.saz {
    text-align: left;
}

.fez {
    text-align: right;
}

.name {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.gpfp {
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;;
}

.gp {
    width: 50%;
}

.fp {
    border-left: 1px solid black;
    width: 50%;
}

.sez {
    text-align: right;
}

#div1 {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: #777;
    position: absolute;
}

#div2 {
    width: 100px;
    height: 100px;
    top: 300px;
    left: 300px;
    background: #333;
    position: absolute;
}